
@{
    ViewBag.Title = "Безымянные";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>
            Их 6. Они разные. И всё таки они вместе. </p>
<p>Прекрасный вариант релакса - просто позалипать на них.</p>
<p>        <input type="image" src="~/Content/IMG_2018-11-05_124107(1).jpg" /></p>
    </div>
</body>
</html>
