
@{
    ViewBag.Title = "ALISA";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>
            Эта наглое существо было подобрано на улице в районе Казимирковки.
        </p>
        <p>
            После небольших уговоров с моей стороны её оставили в нашей семье.
        </p>
        <p>
            И почему-то именно она сейчас носит название "Принцесса", а не я.
        </p>
        <p> Смотрит так, как будто это мы живём у неё.</p>
<p><input type="image" src="~/Content/IMG_2018-04-01_222814.jpg" /></p>
    </div>
</body>
</html>
