
@{
    ViewBag.Title = "MAKSIM";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>Рыжий неадекватный пёс с человеческими повадками и абсолютно мерзким характером.</p> 
        <p> Мясоед, подхолим, спит на двух подушках, в то время как хозяйка - вообще без них.</p> 
        <p>Ворчливый любимчик.</p> 
      
        <p><input type="image" src="~/Content/IMG_2018-09-13_174151.jpg" /></p> 
    </div>
</body>
</html>
