
@{
    ViewBag.Title = "Енот";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>
            Да, мы в курсе, что животное дикое и прогрызает дыры во всём.</p>
        <p> Поэтому мы вначале уедем в лес, а потом заведём енота!</p>
        <p>Муж об этом ещё не знает...</p>
<p><input type="image" src="~/Content/hqdefault.jpg" /></p>
    </div>
</body>
</html>
