@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Домашние животные семьи Епиховых</h1>
    <p class="lead">Это экспериментальное приложение в рамках домашнего задания №14 курсов разработчиков .NET компании EPAM</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Собака</h2>
        <p>
            Пёс по кличке Макс породы русский той-терьер
        </p>
        <p><a class="btn btn-default" href="~/Dog/Index/">Больше &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Кошка</h2>
        <p>Кошка по кличке Алиса породы дворовая Казимировская</p>
        <p><a class="btn btn-default" href="~/Cat/Index/">Больше &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Рыбки</h2>
        <p> 6 молчаливых особей разных пород</p>
        <p><a class="btn btn-default" href="~/Fish/Index">Больше &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Мечта</h2>
        <p> Как только уедем в глушь, заведём ещё одного </p>
        <p><a class="btn btn-default" href="~/Dream/Index">Больше &raquo;</a></p>
    </div>
</div>